@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-synthesis: none;
}

#scrollbar-hide {
  -ms-overflow-style: none;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .h1 {
    font-family: 'Pretendard';
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.6px;
  }

  .H1_Sb_32 {
    font-family: 'Pretendard';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px; /* 131.25% */
    letter-spacing: -0.64px;
  }

  .H2_Sb_28 {
    font-family: Pretendard;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px; /* 135.714% */
    letter-spacing: -0.56px;
  }

  .T1_Sb_20 {
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 140% */
    letter-spacing: -0.4px;
  }

  .T1_Rg_28 {
    font-family: 'Pretendard';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: -0.56px;
  }

  .T2_Lt_24 {
    font-family: 'Pretendard';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 141.667% */
    letter-spacing: -0.48px;
  }

  .T2_Rg_24 {
    font-family: 'Pretendard';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 141.667% */
    letter-spacing: -0.48px;
  }

  .T2_Sb_24 {
    font-family: 'Pretendard';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px; /* 141.667% */
    letter-spacing: -0.48px;
  }

  .T2_Sb_18 {
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.36px;
  }

  .H2_Sb_40 {
    font-family: 'Pretendard';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px; /* 130% */
    letter-spacing: -0.8px;
  }

  .T3_Rg_20 {
    font-family: 'Pretendard';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    letter-spacing: -0.4px;
  }

  .T3_Sb_20 {
    font-family: 'Pretendard';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 140% */
    letter-spacing: -0.4px;
  }

  .T4_Rg_18 {
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.36px;
  }

  .T4_Sb_18 {
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.36px;
  }

  .B1_Rg_16 {
    font-family: 'Pretendard';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
  }

  .B1_Sb_16 {
    font-family: 'Pretendard';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
  }

  .B1_Lt_16 {
    font-family: 'Pretendard';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
  }

  .B3_Sb_14 {
    font-family: 'Pretendard';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.28px;
  }

  .B3_Rg_14 {
    font-family: 'Pretendard';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.28px;
  }

  .B5_Rg_12 {
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    letter-spacing: -0.24px;
  }

  .C1_Rg_11 {
    font-family: Pretendard;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 145.455% */
    letter-spacing: -0.22px;
  }

  .C1_Rg_13 {
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 138.462% */
    letter-spacing: -0.26px;
  }

  .h2 {
    font-family: 'Pretendard';
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.5px;
  }

  .h3 {
    font-family: 'Pretendard';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.32px;
  }

  .H3_Sb_32 {
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px; /* 131.25% */
    letter-spacing: -0.64px;
  }

  .h4 {
    font-family: 'Pretendard';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .body1 {
    font-family: 'Pretendard';
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.26px;
  }

  .body2 {
    font-family: 'Pretendard';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.44px;
  }

  .body3 {
    font-family: 'Pretendard';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.4px;
  }

  .body4 {
    font-family: 'Pretendard';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .body5 {
    font-family: 'Pretendard';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .body6 {
    font-family: 'Pretendard';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .body7 {
    font-family: 'Pretendard';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .body8 {
    font-family: 'Pretendard';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .body8-1 {
    font-family: 'Pretendard';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .body9 {
    font-family: 'Pretendard';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .jost1 {
    font-family: 'Jost';
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.8px;
  }

  .jost2 {
    font-family: 'Jost';
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.72px;
  }

  .jost3 {
    font-family: 'Jost';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.64px;
  }

  .jost4 {
    font-family: 'Jost';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: -0.96px;
  }

  .jost5 {
    font-family: 'Jost';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.36px;
  }
}
