@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Roboto";
  src: url("../../public/static/fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "NeoSB";
  src: url("../../public/static/fonts/AppleSDGothicNeoSB.ttf");
}
@font-face {
  font-family: "NeoR";
  src: url("../../public/static/fonts/AppleSDGothicNeoR.ttf");
}